{# pages/articles/articles.html.twig #}

{% extends "core/layoutadmin.html.twig" %}

{% block head %}{% endblock %}


{% block body %}
<div class="row" style="padding-top: 10px;">
    <div class="col" style="padding-top: 0px;">
        <h1 class="text-center title-page" style="font-weight: 500;font-style: italic;font-family: 'Cedarville Cursive', cursive;color: rgb(0,29,58);">Gestion Articles</h1>
        <hr style="margin-top: 25px;">
    </div>
</div>
<div class="container" style="width: 95%;max-width: 100%;">
    <div class="row">
        <div class="col" style="padding-bottom: 30px; padding-top:50px;">
            <button onclick="window.location.href='{{ path('admin_bestimage_add') }}'" class="btn btn-light btn-lg addbutton" type="button" style="font-size: 20px;"><i class="fa fa-plus" style="font-size: 20px;"></i>&nbsp;Ajouter une image</button></div>
    </div>
</div>
<div class="container" style="padding-right: 50px; padding-left: 50px;">
    <div class="row text-center text-lg-left">
        {% for article in listAlbum %}
        <div class="col-12 col-sm-6 col-md-3 col-lg-2" style="padding: 15px;">
            <div class="gallery" style="margin: 0px;width: 100%;"><img src="{{ asset(article.url) }}">
                <div class="desc">
                    <span class="icon"><a class="flag" href="{{ path('admin_bestimage_modify', {id: article.id}) }}">&nbsp;&nbsp;<i class="fa fa-pencil actionicon"></i></a><a class="flag" data-href="{{ path('admin_bestimage_delete', {id: article.id}) }}" data-toggle="modal" data-target="#confirm-delete">&nbsp;&nbsp;<i class="fa fa-trash-o actionicon"></i></a></span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>          
<div class="row">
    <div class="col">
        <nav class="d-md-flex justify-content-md-center">
        {%if nbPages > 0 %}
            <ul class="pagination">
                <li class="page-item {% if page <= 1 %}disabled {% endif %}" ><a class="page-link" href="{{ path('articles', {'page': page-1}) }}" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                {% for p in range(1, nbPages) %}
                    <li class="page-item {% if p == page %}active{% endif %}">
                        <a class="page-link" href="{{ path('articles', {'page': p}) }}">{{ p }}</a>
                    </li>
                    {% endfor %}
                <li class="page-item {% if page >= nbPages %}disabled {% endif %}"><a class="page-link" href="{{ path('articles', {'page': page+1}) }}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            </ul>
            {% endif %}
        </nav>
    </div>
</div>


{% endblock %}

{% block script %}{% endblock %}